@use "reset";

@font-face {
    font-family: "Merriweather Sans";
    src: url("/fonts/MerriweatherSans-VariableFont_wght.ttf");
}

:root {
    --color-black: #0D1321;
    --color-dark: #1d2d44;
    --color-middle: #3e5c76;
    --color-light: #748cab;
    --color-cream: #f0ebd8;
}

body{
    background-color: var(--color-dark);
    color: var(--color-cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        color: var(--color-cream);
        text-decoration: none;
    }
    header{
        background-color: var(--color-light);
        color: var(--color-black);
        width: min(100ch, 100vw - 2rem);
        padding: .5rem 1rem;
        a{
            color: var(--color-black);
        }
    }
    nav{
        background-color: var(--color-cream);
        color: var(--color-black);
        width: min(100ch, 100vw - 2rem);
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-between;
        a{
            color: var(--color-black);
        }
    }
    main{
        background-color: var(--color-light);
        color: var(--color-black);
        width: min(100ch, 100vw - 2rem);
        padding: 1rem;
        margin: 1rem;
        a{
            color: var(--color-black);
        }
        ul{
            padding-left: 0;
            margin: 0;
            li{
                list-style: none;
            }
        }
        .login, .register, .new, .comments{
            display: flex;
            flex-direction: column;
            .buttons{
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                    margin-right: .5rem;
                }
            }
        }
        input, textarea{
            margin-bottom: .5rem;
            padding: .5rem;
            background-color: var(--color-cream);
        }
        input:focus{
            border: 3px solid #555;
        }
        button{
            margin-top: .5rem;
            padding: .5rem;
            background-color: var(--color-black);
            color: var(--color-cream);
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
    }
}



