<header>
    <h1>User-forum</h1>
    <nav class="navbar">
        <ul>
            <li>
                <a href="\" class="a">Home</a>
            </li>
            <li>
                <a href="\new" class="a">Make new post</a>
            </li>
            <li>
                <a href="\login" class="b">Login</a>
            </li>
            <li>
                <a href="\profile" class="c">Profile</a>
            </li>
        </ul>  
    </nav>
</header>
