<header>
    <a href="/"><h1>User-forum</h1></a>
</header>
<nav class="navbar">
    <a href="\new" class="a">Make new post</a>
    {% if loggedIn != 0 %}
        <a href="\profile" class="c">Profile</a>
    {% else %}
        <a href="\login" class="b">Login</a>
    {% endif %}
</nav>
